* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(24, 45, 83) !important;
    background: linear-gradient(180deg, rgba(24, 45, 83, 1) 0%, rgba(8, 16, 32, 1) 100%) !important;
    width: 100vw;
    height: 100vh;
    color: #FA6E47;
}

.repository-list {
    padding: 2rem;

    ul {
        list-style: none;
        li {
            padding-block: 2rem;
        }
    }
}