:root {
    --white: #FFFFFF;
    --gray-100: #e1e1e1;
    --gray-300: #a8a8b3;
    --gray-900: #121212;

    --cyan-500: #61dafb;

    --yellow-500: #eba417;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}
@media (max-width: 728px) {
    html {
        font-size: 87.5%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--gray-900);
    color: var(--white);
}
body, input, select, textarea, button {
    font: 400 1rem "Roboto", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}